<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="grid.css">
    <style>
      * {
        box-sizing: border-box;
      }
      .col {
        text-align: center;
        background-color: #ccc;
        background-clip: content-box;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .course-item{
          height: 260px;

      }
    </style>
  </head>

  <body>
    <div class="grid wide">
      <div class="row">
        <div class="col l-3">
            <div class="course-item">
                <h1>course 1</h1>
            </div>
        </div>       
        <div class="col l-3">
            <div class="course-item">
                <h1>course 1</h1>
            </div>
        </div>       
        <div class="col l-3">
            <div class="course-item">
                <h1>course 1</h1>
            </div>
        </div>       
        <div class="col l-3">
            <div class="course-item">
                <h1>course 1</h1>
            </div>
        </div>       
        <div class="col l-3">
            <div class="course-item">
                <h1>course 1</h1>
            </div>
        </div>       
        <div class="col l-3">
            <div class="course-item">
                <h1>course 1</h1>
            </div>
        </div>       
      </div>
    </div>
  </body>
</html>